html {
	height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 8rem;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

/*.container-fluid {
	margin-bottom: 5vh;
}*/

.banner {
	height: 50vh;
    background: #000 url("../images/nyjumbo3.jpeg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    text-align: center;
    color: #FFF; // change text color
}

.jumbotron {
	margin-bottom: 0;
}

#resA, #nycfcRes, #resB, #nyrbRes, #modalHeading {
	color: #000000;
}

#bannerHeading {
	margin-top: 15vh;
	font-family: 'Revalia', cursive;
}

a {
	color: #012868;
}

#nycfcSection, #nyrbSection, #nycfcStat, #nyrbStat, #nycfcLine, #nyrbLine, #calcRow, #calcRowAlert, #resultA, #resultB, #insertFormA {
	text-align: center;
}

#nycfcHeading, #nyrbHeading, #nycfcSubHeading, #nyrbSubHeading, #subHeading {
	font-family: 'Roboto Slab', serif;
}

.topSection {
	background-color: #e25e12;
}

#midSection {
	background-color: #1c3272;
	margin-bottom: 2vh;
	padding: 4vh 0 4vh 0;
}

.bottomSection {
	background-color: #fff;
	color: #000000;
}

#nycfcSection, #nyrbSection {
	padding-top: 4vh;
}

#nycfcStat, #nyrbStat {
	padding-bottom: 4vh;
}

.black {
	color: #000000;
}

#calcRow {
	padding-top: 4vh;
}

#calcRowAlert {
	color: #e50d2a;
}

.btn-customA {
	background-color: #7fbbe2;
	color: #fff;
	border-radius: 0;
}

.btn-customA:hover {
	background-color: #7fbbe2;
	color: #fff;
}

.btn-customA:visted {
	background-color: #7fbbe2;
	color: #fff;
}

.btn-customA:active {
	background-color: #7fbbe2;
	color: #fff;
}

.btn-customB {
	background-color: #e50d2a;
	color: #fff;
	border-radius: 0;
}

.btn-customB:hover {
	background-color: #e50d2a;
	color: #fff;
}

.btn-customB:visited {
	background-color: #e50d2a;
	color: #fff;
}

.btn-customB:active {
	background-color: #e50d2a;
	color: #fff;
}

.btn-customC {
	background-color: #000000;
	color: #fff;
	border-radius: 0;
}

.btn-customC:hover {
	background-color: #000000;
	color: #fff;
}

.btn-customC:visted {
	background-color: #000000;
	color: #fff;
}

.btn-customC:active {
	background-color: #000000;
	color: #fff;
}

.btn-customD {
	background-color: #000000;
	color: #fff;
	border-radius: 0;
	margin-bottom: 5vh;
}

.btn-customD:hover {
	background-color: #000000;
	color: #fff;
}

.btn-customD:visited {
	background-color: #000000;
	color: #fff;	
}

.btn-customD:active {
	background-color: #000000;
	color: #fff;	
}

#placeHolderImgA, #placeHolderImgB {
	margin: 5.8vh 0 5.8vh 0;
}

#mobileHR {
	display: none;
}

#hiddenText {
	visibility: hidden;
}

#footer {	
  height: 75px;
  background-color: #1c1c1c;
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#copyright {
  margin-top: 25px;
}

@media only screen and (max-width: 500px) {

	.banner {
		height: 30vh;
	}

	#bannerHeading {
	margin-top: 0;
	}

	.btn-customA {
		margin-bottom: 2.5vh;
	}

	.btn-customB {
		margin-bottom: 2.5vh;
	}

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

	.banner {
		height: 30vh;
	}

	#bannerHeading {
	margin-top: 0;
	}

}